<div class="fixed-container">
  <div class="navbar">
    <li>
      <a ng-mouseover="toggleControls(true)" ng-mouseleave="toggleControls(false)">Controls</a>
        <controls-menu ng-show="showControls"></controls-menu>
    </li>
    <li>
      <a ng-mouseover="showSettings()">Settings</a>
      <div ui-view="about"></div>
    </li>
    <li>
      <a ng-mouseove="showAbout()">About</a>
      <div ui-view="settings"></div>
    </li>
    <button ng-click="launchFullScreen()">Full Screen</button>
  </div>
  <div class="navigation">
    <div class="boundary">
      <div class="box-view" box="{{navigatorBox.x}}" draggable="true" navigator-box="navigatorBox">
      </div>
    </div>
  </div>
  <pattern-select></pattern-select>
  <canvas class="canvas" zoomable ng-mousemove="mouseMove($event)"  msd-wheel="mouseWheel($event, $delta, $deltaX, $deltaY)" gol-canvas="gol" current-pattern="currentPattern" id="life" gol-pixel-size="1" width="2048px" height="1024px"></canvas>
</div>
